/* Reset default margin dan padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header full width */
header {
    background: #212a34;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Container utama */
.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* Kotak putih utama */
.content-box {
    background: white;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Deskripsi */
.description {
    font-size: 18px;
    font-weight: bold;
}

.sub-description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

/* Menu navigasi */
.menu {
    margin-top: 20px;
}

.menu button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: #f4f4f4;
    border-radius: 5px;
}

.menu button.active {
    background-color: #007BFF;
    color: white;
}

/* Kalkulator */
.calculator {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gambar-kalkulator {
    max-width: 100%; /* Supaya gambar tidak lebih besar dari parent-nya */
    height: auto; /* Menjaga rasio aspek gambar */
    display: block; /* Biar gak ada space ekstra */
    margin: 5px auto 5px; /* Biar posisinya di tengah */
}

/* Input dan tombol */
input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Hilangkan spinner di input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

/* Style untuk header full */
.header-full {
    background-color: #212a34;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 24px;
}


button {
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#hitung, #hitungPP {
    background: #007BFF;
    color: white;
}

#reset, #resetPP {
    background: orange;
    color: white;
}

/* Hasil */
#hasil, #hasilPP {
    margin-top: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}